<% provide(:title, 'become host') %>
<div class="span10">
   <div class="row vertical-align:middle">
      <%= image_tag find_display_imgurl(@user.id, "thumb"), id: "profile-thumb" %>	  
      <strong style="font-size:1.3em; margin-left:10px">Become a host</strong>
   </div>
   
   <div class="row">
      <%= render 'shared/edit_tabs'%>
   </div>

   <br>
   <%= render 'form_become_host' %>
</div>
