<div class="span10" id="messageform" style="background-color: #dff0d8; padding: 20px 0px 0 15px">
   <%= form_for([:user, @message]) do |f| %>
 		<div>
			<div class="field" id="personalform">
    		<%= f.text_field :subject, :placeholder=>"Subject (max 100 characters) ...", :style=>"width:80%" %>
  		</div>
 		<div class="field" id="personalform">
    		<%= f.text_area :body, :placeholder=>"Your message ..." %>
 		</div>
		<%= f.submit "send", id: "blue-button" %>
	<% end %>
</div>	
			
