<div class="span8">
   <div class="row">
      <div class="span1">
         <%= image_tag find_display_imgurl(@user.id, "thumb"), size: "50x50" %>	
      </div>
      <div class="span6">
         <h3>To: <%=@user.firstname.capitalize%></h3> 
      </div>   
   </div>
   <div class="row" style="bakckground-color: green; margin-top: 20px">
      <%= render 'new_message'%>
   </div>
</div>
