<%provide :title, 'sign in' %>
<div class="container">
<div class="filler"></div>     
<div class="filler"></div>   
<%= render 'signin_form'%>
</div>
<div class="filler"></div>   
<div class="filler"></div>   
<div class="filler"></div>   
<%= render 'shared/footer' %>




	