<div class="row">
   <div class="span7" style="background-color: purple">
      <div class="thumbnail">
         <% if @user.images.empty? %>
            <%= image_tag "http://placehold.it/260x180", id: "displayimg" %> <!-- TODO: change default -->
         <% else %>
            <% firstimg = @user.images.first %>
            <%= image_tag firstimg.photo.url(:large), id: "displayimg" %>
            <div id="caption">    
               <% if !firstimg.caption.empty? %>
                  <p id="displaycaption"><%= firstimg.caption %></p>
               <% else %>
                  <p style="height: 18px"></p>
               <% end %>
            </div>
          <% end %>
       </div>
   </div> <!-- end of display image -->
   <%if @user.images.count > 1%>
      <div class="span1">
         <% n = 0 %>
            <% @user.images.each do |img|%>
               <div class="span2" style="text-align:left; margin-left:0px">
                  <%= image_tag img.photo.url(:large), class: "thumbnail", id: "imgthumb#{n+=1}", :caption=>img.caption, :size=>"72x100" %>
               </div>
            <% end %>
      </div>
   <% end %>
</div>

<!-- link_to delete, img, confirm are you sure, method delete -->
