<div class="row">
   <div class="span7" style="margin-left:10px">
      <div>
         <% if @user.images.empty? %>
            <%= image_tag "full_hat.png", id: "displayimg" %> 
            <div class="edit_link" id="img-overlay">
               <b><%= link_to "A picture speaks 1000 words so go on, add a few...", edit_user_path(@user, view: "picture", anchor: "picture") unless !current_user?(@user) %></b>
            </div>
         <% else %>
            <% firstimg = Image.find_by_id(@user.profile_pic_id) || @user.images.first %>
            <%= link_to image_tag(firstimg.photo.url(:large), id: "displayimg", :data=>{:id=>firstimg.id}), image_path(firstimg) %>                 
         <% end %>
       </div>
   </div> <!-- end of display image -->
   <%if @user.images.count > 0%>
      <div class="span1">
         <% n = 0 %>
            <% @user.images.each do |img|%>
               <div class="span2" style="text-align:left; margin-left:-10px">
                  <%= image_tag img.photo.url(:thumb), class: "thumbnail thumbindex", id: "imgthumb#{n+=1}", :data=>{:id=>img.id} %>
               </div>
            <% end %>
      </div>
   <% end %>
</div>