<tr>
    <td>
        <%= gravatar_for user  %>
        <%= link_to user.email, user %>
        <br>
        <% if current_user.admin? && !current_user?(user) %>
            <%= link_to 'delete', user, confirm: 'Are you sure?', method: :delete %>
        <% end %>
    </td>
</tr>