<% provide(:title, 'General settings') %>

<div class="span10">
   <div class="row vertical-align:middle">
      <%= image_tag find_display_imgurl(@user.id, "thumb"), id: "profile-thumb" %>	  
      <strong>Your settings</strong>
   </div> 
   <div class="filler"></div>

   <div class="row edit_link">
      <%= render 'shared/edit_tabs'%>
   </div>
   
   <%= render 'edit_form' %> 
</div>



