<% provide(:title, 'General settings') %>
<div class="filler"></div>

<%=render "shared/your_header", id: @user.id, text:"Your settings" %>
<br/>
<div class="container" id="white">
   
   <div class="span10">

   <div class="row edit_link">
      <%= render 'shared/edit_tabs'%>
   </div>
   
   <%= render 'edit_form' %> 
</div>
</div>



