<!-- Refactor this code so it can be used for all the other models -->
 
<% if obj.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Oops, you have <%= pluralize(obj.errors.count, "error") %>.
    </div>
    <ul>
    <% obj.errors.full_messages.each do |o| %>
      <li><%= o %></li>
    <% end %>
    </ul>
  </div>
<% end %>
