<!-- Refactor this code so it can be used for all the other models -->
 
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      Oops, you have <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
