    <div class="row">
       <h2>How it works</h2><br/>
       <h3>TiniHost connects travelers and locals for a more authentic, personal, and responsible travel experience. </h3>
    </div>
    <br/>
    <div class="row">
       <div class="span2">
          <br/><h1>1</h1><br/>
          <h4> Decide where you are going next. </h4><br/>
       </div>
      <div class="span6">
         <%= image_tag "collage2.png", alt: "pictures of paris, sintra, and hanoi" %>
      </div>
    </div>
    <br/>
    <div class="row">
    
       <div class="span3">
          <%= image_tag "search.png", alt: "search" %>
       </div>
       <div class="span5">
          <h1>2</h1><br/>
          <h4> Check out the tinihosts in that area, whether for guiding you into the mountains or taking you to the most happening bar in town.</h4>
       </div>
    </div>
    <br/>
    <div class="row">
        <div class="span4">
           <h1> 3 </h1> <br/>     
        <h4>Request a meetup with the host(s) of your choice. Take a note of what they're asking for in exchange.</h4>
        </div>
        <div class="span4">
           <br/>
           <%= image_tag "meetup.png", alt: "meetup" %>
        </div>
    </div>
    <br/>
    <div class="row">
       <div class="span3">
          <br/><br/>
          <%= image_tag "available.png", alt: "meetup" %>
       </div>
       <div class="span5">
          <h1> 4 </h1><br/>
          <h4> If the host responds available, you can book your meetup. You can request multiple meetups at a time to check for availability, just book the one you want at the end.</h4>
       </div>        
    </div>
   <br/><br/>
    <div class="row">
       <div class="span8">
          <h1> 5 </h1><br/>
          
          <h4>After your meetup, complete a quick review of your experience. Your stats will be updated accordingly and your host will be super grateful for your awesome feedback :).</h4>
       </div>
       
    </div>
</div>
</div>
<br/>
<div class="filler"></div>