<div class="container">
   
<div>
     <%= link_to (image_tag find_display_imgurl(id, "thumb"), id: "profile-thumb"), current_user %>	  
     <strong style="margin-left:10px"><%="#{text}"%></strong>
</div>
</div>
