<div class="span8 aboutpage">
   <a id="limited_cities"></a>
   <strong> Why are there only 6 cities listed? </strong><br/>
   <h4>Because tiniHost is in what we call a bootstrapping phase. More cities will open up as we expand our user base.</h4>
   <br/>
   <strong> Where is the review button for users? </strong>
   <br/>
   <h4>The option to review a user only becomes available after you have completed a meetup with him or her. This is our way of trying to keep the reviews honest and reliable.</h4>
   <br/>
   <strong> Can I offer multiple host services (ie. translator and chauffeur)? </strong><br/>
   <h4>No. Each host profile is associated with only one type of service to keep things straightforward. You can however note additional services in your own service description. </h4><br/>
   <strong> Can I deactivate my host status after becoming a host? </strong>
   <br/>
   <h4>Yes. Go to your settings | hostprofile page and click on deactivate my host status. We retain all your host information after deactivation such that you can reactivate your host status at any time.</h4>
   <br/>
   <strong> Will you share my information with any 3rd party? </strong><br/>
   <h4>Never.</h4><br/>       
   <strong> Can I filter my search results? </strong>
   <br/>
   <h4>Soon.</h4>
   <br/>
   <strong> How do I contact tiniHost? </strong>
   <br/>
   <h4><%= mail_to "team@tinihost.com" %></h4>
   <br/>
</div>