<% provide(:title, 'find a host') %>
<%= form_tag fill_location_path, method: 'get', class: "well form-inline" do %>
<div id="name">
   <%=render 'shared/country_city_select', :inline_search => true%>
<%= submit_tag "Search", :name => nil, :class=>"bnt" %>
</div>
<%end%>
<div class="filler"></div>