<% provide(:title, 'find a host') %>
<div id="name">
   Where are you going?
</div>
<%= form_tag fill_location_path, method: 'get' do %>
<div id="name">
   <%= render "shared/country_city_select", :inline_search => true%>
</div>
<%= submit_tag "Go!", :name => nil %>
<% end %>
