<% provide(:title, 'home') %>
<!DOCTYPE html>
<html>
  <body>
	<div><a href="users"> add users </a></div>
    <div><a href="find.html"> find locals<a></div>
    <p>what is this about</p>
  </body>
</html>