<% provide(:title, 'home') %>
<div class = "center hero-unit">
   <div id="name">
      Which city are you visiting?
   </div>
   
   <%= form_tag users_path, method: 'get' do %>
      <%= render 'shared/country_city_select', :inline_search => true %>
   <%= submit_tag "Go!", :name => nil %>
   <% end %>
</div>