<div class="container" id="white">
   
<h3>tiniHost Privacy Policy</h3><br/>
<p>tiniHost.com respects your privacy. All personal information you submitted to tiniHost.com will be kept in the strictest confidence.</p>
<p>Personal information you provide to us will only be used by tiniHost.com, and will never be sold or given to third parties for any purpose without your consent. We are strongly committed to protecting your privacy online and have taken steps to protect information you share with us. To help us protect your privacy, please maintain secrecy of username and password used in connection with your participation in any tiniHost.com service.
Our Commitment</p>
<p>We are committed to protecting the privacy of our users. We want to provide a safe and secure user experience. We will use our best efforts to ensure that the information submitted to us remain private, and is used only for the purposes set forth herein.</p>

<b>Privacy Scope</b>
<p>This privacy policy covers tiniHost.com's treatment of personally identifiable information that is collected when you are on the tiniHost.com website, and when you use tiniHost.com services. This policy also covers our treatment of any personally identifiable information that our business partners share with us.
Information Collected</p>
<p>When you register as a member of tiniHost.com, you are asked for a number of personal information, including your name and email address. When you become a Host, additional information is collected including where your location, your birth date, and your gender. Our website also automatically receives and records information on our server logs from your browser, including your IP address, browser type and tiniHost.com cookie information. tiniHost.com uses this information to personalize the content you see, to fulfill your service requests, to inform you of updates to our services, and to alert you to products and services we believe may be of interest to you.</p>
<b>Visitor Information</b>
<p>We gather information about all users collectively, such as what areas users visits most frequently and what services users access the most. We only use such data anonymously and in the aggregate. This information helps us determine what is the most beneficial for our users and how we can continually create a better overall user experience. We may share this information with our partners, but only in the aggregate, so that they may also understand how our visitors use our website.</p>
<b>General Disclosure</b>
<p>Your profile will display your firstname, as well as additional information you enter including gender, age (calculated from your birth date), location, and the languages you speak. Except as described in this privacy policy, we do not disclose information about your individual visits to tiniHost.com, or personal information you provide such as email and phone number. We do not share the said information with any third parties, except when we believe it is required by law or to protect tiniHost.com, our users or others. However, we may record and share aggregate information with our partners.</p>
<p>We use other companies and individuals to perform functions on our behalf. Examples may include hosting our web servers, analyzing data, providing marketing services and other services. These companies may have access to your personal information as necessary to perform their functions, but they may not share that information with any third party.</p>
<b>Updating Account Information</b>
<p>tiniHost.com allows you to change your personal information at any time. To do so, simply logon to tiniHost.com with your username and password, and you will be able to update the information you have submitted.</p>
<b>Cookies</b>
<p>We use cookies for remembering user preferences, user sessions, tracking visits to understand visitor behavior, and planning for increased loads. Because of our use of cookies, we can deliver a faster services and a more personalized website experience. You have the option of setting your browser to reject cookies. However, doing so will hinder your ability to logon or use member services offered on our website.</p>
<b>Privacy Policy Changes</b>
<p>If we decide to change our privacy policy, we will post those changes here so that you will always know what information we gather, how we might use that information, and whether we will disclose it to anyone. If at any time you have questions or concerns about our privacy policy, please feel free to email us at team (at) tiniHost.com
tiniHost.com uses reasonable precautions to keep personal information disclosed to us secure. However, we are not responsible for any breach of security. This privacy policy is not intended to, and does not, create any contractual or other legal rights in or on behalf of any party.</p>
</div>

<%= render "shared/footer" %>