<div class="span8">
   <%= image_tag("tinihost2.png", alt:"tinihost logo") %>
   <br/><br/>
   <p> Hello <%= @user.firstname.capitalize %>, </p>

   <p> Thank you for registering with tiniHost. Please click on the link below or paste it into your browser to activate your account.</p>

   <p><%= link_to confirm_user_path(@user, token: @user.confirmation_token, only_path: false), confirm_user_path(@user, token: @user.confirmation_token, only_path: false) %> </p>
   <br/>

   tiniHost Team<br>
   www.tiniHost.com
   <br/><br/>
   <hr/>
   <p id="hint"> You are receiving this email because your email address was used to sign up for a tiniHost account recently. Please disregard if you are not the intended recipient. </p>
   
</div>


