<!-- TODO: change host path for production environment -->
<p> Hello <%= @user.firstname.capitalize %>, </p>

<p> Thank you for registering with tiniHost. Please click on the link below or paste it into your browser to activate your account.</p>

<p><%= link_to confirm_user_path(@user, token: @user.confirmation_token, only_path: false), confirm_user_path(@user, token: @user.confirmation_token, only_path: false) %> </p>
<br/>

tiniHost Team<br>
team@tinihost.com