<div class="row">
    <div class="span8" id="messageform">
		   <h3>RE: <%= @post.title%></h3>
			<%= form_for(:message, url: create_response_forumpost_path) do |f| %>
		 		<div class="field">
		    		<%= f.text_area :body%>
		 		</div>
			
				<%= f.submit "respond", id: "blue-button" %>
			<% end %>
    </div>
</div>