/*$navbarBackground: blue;
$navbarBackgroundHighlight: #888;
$navbarText: #eee;
$navbarLinkColor: #eee;*/

/*figure out why this isn't working*/
$heroUnitBackground: #554;
$navbarBackground: #888;
$heroUnitLeadColor: #114;
$placeholderText: #aaa;
$bodyBackgrond: black;
$navbarLinkColor:#ccc;
@import "bootstrap";
@import 'font-awesome';

/* sidebar */

/* mixins, variables, etc. */

/*$grayMediumLight: #eaeaea;*/

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.aboutpage{
	margin-left:20px;
	h1{
			border:1px solid #ddd;
			border-radius: 4px;
			color:#2EB8E6;
			padding-left:20px;
			background-color:#eee;
	}
	h4{
		font-size:1.3em;
		font-weight: normal;
		color: #666;
	}
	image#right{
		text-align:right;
	}
	strong{
		color: #2EB8E6;
	}
	li{
		color: #777;
		font-size:1.3em;
	}
	

}
.aboutpage_dark{
	margin-left:90px;
	
	h2{
		color:#fff;
	}
	strong{
		color:#D6F5FF;
	}
	h1{
		border:1px solid #999;
		border-radius: 4px;
		color:#E0FFF0;
		padding-left:20px;
		background: #aaa;
	}
	h4{
		font-size:1.3em;
		font-weight: normal;
		color: #ddd;
	}
	
	h3{
		color:#CCFFFF;
	}
	image#right{
		text-align:right;
	}
}
.sidebar{
	border-radius:3px; 
	border:1px solid #eee; 
	margin-right:40px;
	li{
		a {
			color:#999;
		}
	}
		
	li.active{
			background:green;		   
		}
}
.navbar-inner {
  background-color: #2c2c2c; 
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

/* miscellaneous */
body {
	padding-top: 80px; 
	height:100%;
	-webkit-input-placeholder{
		color: #ccc;
	}
	
	-moz-placeholder{
		color: #ccc;
	}
}

.homepage {
	padding-top:80px;
	background-color: #eed;
	padding-bottom: 50px;
	border-radius:9px;
	height: 400px;
	
	#location-button{
		text-align:center;
		margin-left:40px;
	};
	h2{
		font-size: 1.7em;
		color: #3B9C9C;
		margin-left: 13%;
	}
}
.filler{
	height: 30px;
}
.thumbnail{
	background-color: #bbb;
	padding:1px;
}

#badge{
	background-color:#eee;
	height:365px;
	padding: 5px;
	img#main{
		width:300px;
		height: 220px;
	}
	
	.row{
		margin-top:7px;
	}
	
	div{
		position: relative;
	}
	
	#service-title{
		font-size:1.1em;
		font-family: helvetica, arial, verdana;
		font-weight:bold;
	}
	#overlay{
		text-align:right; 
		padding-right: 5px; 
		padding-top: 7px; 
		position:relative; 
		background-color:#333; 
		height:20px; 
		top:-27px; 
		opacity:0.8; 
		z-index:5;
		
		small{
			text-align:right; 
			opacity:1; 
			color:white;
		}
	}
}

.red-link{
	a:link, a:visited{
	   color: #FF5050;
   }

	a:hover{
		background-color:transparent;
		text-decoration: underline;
	}
	
	font-size:1.1em;
	font-family: helvetica, arial
}
.edit_link{
	
	a:link, a:visited{
	   color: #049cdb;
   }

	a:hover{
		background-color:transparent;
		text-decoration: underline;
	}
	
	small{
		color:#666;
	}
}

div{
	word-wrap:break-word;
}
.thumbindex{
	width: 70px;
	height: 51px;
}

.host_info{

	padding: 10px;	
   margin-top:5px;
   margin-bottom:5px;

	li{
		background-color: darken($white, 0%);
	   list-style: none;
		margin-left: 20px;
		margin-top:-15px;
		border-radius: 3px 3px 3px 3px;	
		padding: 10px;
		
	};
	
	li.green{
		background-color: #C3FDB8;
	}
	
	li.appt{
		padding-top: 20px;
		background-color: #aaa;
		border-bottom:1px solid #ddd;
	}
	
	div.edit-section{
		padding:15px;
		margin-left:-10px;
		background-color: #eee;
		border-bottom: 3px solid $grayLighter;
	}
	
	h4{
		color: #468847;
	}	
}

.host_info#review{
	border-bottom:1px solid #ccc
}

.ratings{
	height:15px;
	width:12px;
	margin-right: -5px;
	margin-bottom: -2px;
}

#icons {
	color: white; 
	padding: 0px 4px 1px 4px;
	width: 100px;
	border-radius: 3px;
	border-bottom: 1px solid #eee;
}	
#icons.recommend {
	background-color:#888; 
	color:#5CFAA1;
}
	
#icons.review{
	background-color: #888;
	color: #F8FFB7;
};

#icons.unrecommend{
	background-color: #888;
	color:#FF8C8C;
};
	
#icons.response-rate{
	background-color: #888;
	color: #F5B8F5;
};
	
#icons.meetups-comp{
	background-color:#888;
	color:#8ED0FF;
};

#icons.remove{
	color: coral; 
	font-size:0.8em;
}

#message_icon
{
	color: white; 
	background-color:#47A3FF; 
	padding: 5px;
	margin-right: 10px;
	margin-left: -3px;
	border-radius: 3px;
	border-bottom: 1px solid #eee;
	
	&:hover{
		background-color: #E65C5C
	};
	
	a, a:hover{
		color:white;
		font-size:11px;
		text-decoration:none;
	}
}
#review_count{
	font-size: 0.8em; 
	font-style: normal;
	color:#666;
	
	a:link{
		color:#666;
	};
	
	a:visited{
		color:#666;
	}
	
	a:hover{
		background-color:transparent;
		text-decoration:none;
		color:#eee;
	}
}
.review_author{
	color: #ab2;
}


#inline_review{
	width: 800px;
	height: 100px;
}


#displayimg{
	width: 100%;
	height: 383px;
	border: 1px solid #aaa;
}

#displayimg-nocap{
	width:100%;
	height: 380px;
}


a#response:hover{
	text-decoration: underline;
	color:#1F73D1;
}

img.navlink:hover{
	background-color: white;
	border-radius: 6px;
}
#img-overlay {
   text-align:center; 
   position:relative; 
   opacity:0.8; 
   top:-27px; 
   left:1px; 
   background: #444; 
   border-left: 1px solid #eee; 
   border-right: 1px solid #eee;
   height:20px;
   padding-top: 5px;
}

input#image_photo{
	border: 0px;
	padding:5px 0px;
	color: #999;
	margin-left:0px;
}
#footer {
	padding-top:50px;
}

.bottomnav{
	padding-top: 50px;
	text-align: center;
		
	#navlogo{
		margin:0 auto;
		float: none;
		text-align: center;
	}
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-top: 1px solid $grayLighter;
        &:last-child {
            border-bottom: 1px solid $grayLighter
        }
    }
}

.email {
    list-style: none;
    margin: 0;
    width: 100%;
    margin-left: 0px;
    
    li {
        overflow: auto;
        padding: 5px;
        border-top: 1px solid $grayLighter;      
        &:last-child {
            border-bottom: 1px solid $grayLighter;
        }
    }

	 li#seperator{
		background-color: #888;
		padding: 5px;
		border-radius:3px;
	 };

    li.thread{
		 border-top: 2px solid white; 
       overflow: auto;
       margin-bottom: 0px;
       padding: 5px 15px;
       &:first-child {
		   border-top: 0px
       };
       &:last-child {
          border-bottom: 2px solid white
       }     
       div{
			margin-left:0;
		 }

     }
}

#profile-thumb{
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
}

#profile-navbar{
	width: 25px;
	height: 22px;
}
#messageform{
	background-color: #dff0d8; 
	padding: 20px 0px 0 15px;
	
	textarea{
		width: 80%;
		height: 200px
	}
}

#stats-icon{
	width:18px;
	height:17px;
}

#personalform{
	input, input.password{
		width:200px;
		height:40px;
	};
	
	label{
	   font-weight:bold;	
	   color: #666;
	   font-family: verdana, helvetica, arial;
	};
	
	select{
		width:220px;
		height:40px;
	}
	
	select#short{
		width:130px;
		height:40px;
	}
	
	select#hostprofile_currency{
		width:70px;
		height:40px;
		margin-top:7px;
	}
	
	textarea{
		width: 80%;
		height: 100px
	}
	
	margin:5px 0px
	
}

/* microposts */
.microposts {
  list-style: none;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
	 &:first-child {
		border-top: 0px;
	  }
  }
}

.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 30%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
} 

#clear_float{
	clear:left
}

#input_field{
	width: 200px;
}

.simple_form label {
  width:400px;
  text-align: left;
  margin-top: 10px;
  display: inline-block;
  color:#555;
}

.simple_form label.radio{
	width: 40px;
	margin-top:0px;
	margin-bottom: 5px;
	color:#777;
}

.simple_form input[type='submit'] {
  margin-left: 0px;
  background: none;
}

.simple_form div.boolean label {
  float: none;
  margin: 0;
}

.signup-block{
	margin-left:15%; 
	padding:30px 0px 30px 0px; 
	background-color:#3B9C99;
	border-radius: 3px;
	border-bottom: 2px solid #ccc;
	
	h3, p{
		color:white;
	};
	
	label{
		color:white;
	};
	
	div#signup{
		padding-left:35px; 
		padding-bottom:0px; 
		padding-top:15%; 
		height: 180px; 
		border-left:1px solid #6DCECE;
	}
}

#blue-button{
	background-color:#28B7F4; 
	padding:5px 15px; 
	border:0px; 
	color:white;
	height:40px;
	border-radius:3px;
}

#pink-button{
	background-color:#FF7285; 
	padding:12px; 
	border-radius: 3px; 
	color:white; 
	font-size:1.2em;
	border: 0.5px solid #ddd;
	margin-bottom:0px;
}

#blue-button:hover{
	background-color: pink;
}

#pink-button:hover{
   background-color:#8EE5FF;
}
.status-button{
	padding:8px; 
	border-radius: 3px; 
	color:white; 
	font-size:1em;
	border: 0.5px solid #ddd;
	&#green {
	   background-color:green; 
   }

	&#red {
		background-color:red; 
	}
	
}


.menu_item {
	width: 105px;
	height: 60px;
	display: inline-block;
	background: gray;
	border-radius: 7px;
	margin: 0px 5px 0px 20px;
	vertical-align:middle;
}

.menu_item#active{
	background-color: #FF7285;
}
.menu_item:hover{
	background-color:#FF7285;
}


.menu_itemd img {
	position: relative;
	left: 79px;
	top:3px;

}
.menu_item img {
	position: relative;
	left: 27px;
	top:10px;
	width:55px;
	height:40px;
}

.menu-label {
	position:relative;
	z-index:999;
	margin-left: 5px;
	font-family:helvetica, verdana;
	left: 12px;
	top: -30px;
	width: 75px;
	height:50px;
	text-align:center;
	font-size: 15px;
	color: white;
}
#link-block:hover{
	background: #eee;
}
