// Place all the styles related to the hostprofiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.appt_tag{
	border-radius: 5px; 
	background: #46CDC0; 
	margin-left: -5px; 
	padding: 10px 10px; 
	border: 1px solid #ddd;
	width: 200px;
	text-align:center;
	background: #008160; 
	
	/* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008160), to(#33A589));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(bottom, #008160, #33A589);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(bottom, #008160, #33A589);

  /* IE 10 */
  background: -ms-linear-gradient(bottom, #008160, #33A589);

  /* Opera 11.10+ */
  background: -o-linear-gradient(bottom, #008160, #33A589);
	p{
		font-size: 1.1em;
		color:#eee
	};
	
	strong {
		font-weight: bold; 
		font-size:1.3em; 
		color: white;
	};
}

.appt_tag:hover{
	background:#33A589;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#007256), to(#199A7A));

	  /* Safari 5.1, Chrome 10+ */
	  background: -webkit-linear-gradient(top, #007256, #199A7A);

	  /* Firefox 3.6+ */
	  background: -moz-linear-gradient(top, #007256, #199A7A);

	  /* IE 10 */
	  background: -ms-linear-gradient(top, #007256, #199A7A);

	  /* Opera 11.10+ */
	  background: -o-linear-gradient(top, #007256, #199A7A);
}

.side-profile{
	background-color: #F8F8F8; 
	height: 385px;
}

.service_tab{
	margin-left: 8px; 
	text-align:right; 
	margin-top: -6px;
	
	small{
		border-bottom:1px solid #bbb; 
		border-radius: 4px; 
		background-color: #999; 
		padding: 5px 5px 3px 7px; 
		color: white;
	}
}

.intro{
	width: 93%; 
	height: 55px; 
	padding-top: 5px; 
	color:#666;
}

.language_list{
	margin-left: 20px; 
	color: #777; 
	font-size: 0.9em;
	text-align:right;
}

#badge_divider{
	margin-left:14px; 
	width: 300px; 
	color: white; 
	margin-bottom:0px; 
	margin-top:15px
}

#easy_eddit{
	margin-left: -2px;
	margin-top: 10px;
		vertical-align: bottom; 
		padding-left: 5px;
}