body {
	background-color:rgba(234, 195, 206, 0.8); 
	
	background-color:rgba(191, 192, 164, 0.2); 

  color: #555;
  font-family: arial, helvetica, verdana, arial, sans-serif;
  font-size: 13px;
  line-height: 18px; }

ol, ul {
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 13px;
  line-height: 15px; 
  color: #444;

  &.content{
	font-size: 14px;
	color:#555;
  };
}

.container#white{
	background:white; 
	height:100%; 
	padding:5px; 
	border: 2px #ddd solid;
}

p{
	font-family: arial, verdana, helvetica, sans-serif;
   font-size: 13px;
   color:444;
   line-height:16px;
}
p#hint{
  color:#999;	
  display:inline;
}

p#white{
  color:white;	
}

h3{
	font-family: arial, verdana, helvetica, sans-serif;
	font-weight: normal;
	font-size: 19px;
	color: #667;
}

strong{
	font-family: helvetica, arial, verdana, sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #667;
	
	&#white{
		color:white;
	}
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; 
}

a {
  &:visited, & {
    color: #555; }
  &:hover {
    color: #aaa;
    text-decoration: none;
  } 
}

a.lighter {
	&:visited, & {
		color:#eee;
	};
	
	&:hover {
		color: #eee;
		text-decoration: underline;
	};
}

a.blocklink
{
	&:visited, a:hover, & {
		color: #666;
	};
}
a.navlink{
	&:visited, & {
		color: #888;
		text-decoration: underline;
	};
	
	&:hover{
		text-decoration:none;
	}
}

small{
	font-family: verdana, helvetica, arial, sans-serif;
}

small#hint{
	color:#999;
	font-size:11px;
}

small#light{
	color:#888;
	font-size:1em;
}

small#icon-text{
	font-family: helvetica, arial, verdana, sans-serif;
	color:#888;
	font-size:0.9em;
}

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 0px;
  label {
     color:red;
  }
}

#error_explanation {
  width: 450px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }
