<% unless !signed_in? %>
<div class="nav nav-tabs tab_link">
   <% debugger %>
   
   <% if params[:folder] == 'traveler' || params[:folder].nil? %>
      <li class="active">
   <% else %>
      <li>
   <% end %>
   <% count = @requested_appts.active.count > 0 ? "(#{@requested_appts.active.count})" : ""%>
	<%= link_to "As traveler #{count}", user_appointments_path(current_user, :folder => 'traveler') %>
	</li>
   <% if  @appt_requests  %>
   <% if params[:folder] == "host" %>
	   <li class="active">
	<% else %>
	   <li>
	<% end %>
	<% count = @appt_requests.active.count > 0 ? "(#{@appt_requests.active.count})" : ""%>
	<%= link_to "As host #{count}", user_appointments_path(current_user, :folder => 'host') unless !current_user.is_host? && @appt_requests.active.count == 0%>
	</li>
	<% end %>
	<% if params[:folder] == "history" %>
	   <li class="active">
	<% else %>
	   <li>
	<% end %>
	<%= link_to "Previous meetups", user_appointments_path(current_user, :folder => 'history') %>
	</li>
	      
</div>
<% end %>