<li>
	<span class="content"> <%= review.content %> </span>
	<% temp = User.find(review.reviewer_id) %>
	posted by <%= temp.firstname %>
	<span class="timestamp">
		 on <%= review.created_at%>
	</span>
</li>