<%= form_for(@image, :html=>{:multipart=>true}) do |img| %>
<div> 
      <%if img.object.new_record? %>
      
         <div class="controls edit_link">
            <small> Upload a picture </small><br>
            <%= img.file_field :photo %>
         </div>
         <div class="field" >
            <small> Enter caption (optional) </small><br>
            <%= img.text_area :caption, style: "width: 400px; height: 50px", placeholder: "100 characters ..."%>
         </div>
      <%end%>
</div>
   <%= img.submit "upload", id: "pink-button" %>
<%end%>