<% if @image.nil? %>
   <% @image = Image.new %>
<% end %>
<%= form_for(@image, :html=>{:multipart=>true}) do |img| %>
<div> 
      <%if img.object.new_record? %>
      
         <div class="controls edit_link">
            <small> Upload a picture </small><br>
            <%= img.file_field :photo %>
         </div>
      <%end%>
</div>
   <%= img.submit "upload", id: "blue-button" %>
<%end%>