<% if @image.nil? %>
   <% @image = Image.new %>
<% end %>
<%= form_for(@image, :html=>{:multipart=>true}) do |img| %>
<div> 
      <%if img.object.new_record? %>     
         
         <%= img.file_field :photo %>
         
      <%end%>
</div>
   <%= img.submit "upload", id: "blue-button" %>
<%end%>